.nav-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: gray;
  color: antiquewhite;
  text-decoration: none;
}

.nav-bar-items a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  background-color: black;
}
